html {background-color:  rgb(242, 250, 255);}
#root{ background-color: rgb(242, 250, 255);}
input:focus {    
    background-color: #EEE; 
    border-bottom: solid white 1px;
}

.title {
    width: 90%;
    font-size: 36px;
    height: 60px;
    padding: 10px; 
    margin: 10px;
    background-color: white;
    border: none;
    border-bottom: solid black 1px;
    resize: none;
    overflow: hidden;
}

.title:focus {
    background-color: #EEE; 
    border-bottom: solid white 1px;
}

.tittleQuestion {
    width: 100%;
    font-size: 20px;
    height: 60px;
    padding: 10px; 
    margin: 10px;
    background-color: white;
    border: none;
    border-bottom: solid black 1px;
    resize: none;
    overflow: hidden;

}

.tittleQuestion:focus{
    background-color: #EEE; 
    border-bottom: solid white 1px;
}

.descripcionTitulo {
    width: 90%;
    font-size: 20px;
    height: 40px;
    padding: 10px; 
    margin: 10px;
    background-color: white;
    border: none;
    border-bottom: solid black 1px;
    resize: none;
}

.descripcionTitulo:focus {
        background-color: #EEE; 
        border-bottom: solid white 1px;
}

.descriptionQuestion {
    width: 100%;
    font-size: 15px;
    height: 40px;
    padding: 10px; 
    margin: 10px;
    background-color: white;
    border: none;
    border-bottom: solid black 1px;
    resize: none;
}

.tittleQuestion:focus{
    background-color: #EEE; 
    border-bottom: solid white 1px;
}

.smallInput {
    width: 80%;
    font-size: 15px;
    height: 40px;
    padding: 10px; 
    margin: 10px;
    background-color: white;
    border: none;
    border-bottom: solid black 1px;
    resize: none;
}

.largeInput {
    width: 100%;
    font-size: 15px;
    height: 40px;
    padding: 10px; 
    margin: 10px;
    background-color: white;
    border: none;
    border-bottom: solid black 1px;
    resize: none;
}

.inputShortAnswer {
    color: #6c757d;
    margin: 10px;
    margin-right: 0px;
    padding: 10px;
    padding-right: 0px;
    border-bottom: solid black 1px;
}

.botonAgregar {
    display: flex;
    position: relative;
    height: 50px;
    top: 50%;
    width: 50px;
    left: 50%;
}

.imagenAgregar{
    position: relative;
    
    top: -13px;
    left: -13px;
}
.conteinerBotonAgregar{
    height: 50px;
    position: absolute;

}

.contenedorPersonal {
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
    background-color: white;
    margin-top: 20px;
    padding-bottom: 15px;
}

.labelComponent {
    font-size: 15px;
    height: 40px;
    padding: 10px; 
    margin: 10px;
    background-color: white;
    border: none;
}

.buttonSelector {
    margin: 15px;
    padding: 10px;
    text-align: rigth;
}

.buttonGuardar {
    width: 300px;
}

.mensajeError {
    font-size: 15px; 
    color: red;
    padding: 10px; 
}

.contenedorButtonGuardar {
    padding: 30px;
    text-align: right;
    

}

.botonEliminar {
    top: 80px;
}